@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    border: none;
    padding: 0px;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  background-color: #090000 !important;
}
@media screen and (min-width: 1920px) and (max-width: 2100px) {
  html, body {
    width: 100%;
}
}
a{text-decoration: none !important;}
p{margin-bottom: 0px;}
ul{padding-left: 0px !important;}
.h1-head{
  color: #FFF;
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 50px;
  font-weight: 400;
}
span{color: #fff;}
header {
  position: relative;
  background: #090000;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1288.55px;
  margin: auto;
  transition: 0.3s;
}
header .ul-inks{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
}
header .ul-inks li a{
  color: #F5EE31;
  font-family: 'Quicksand';
  font-weight: 600;
}
.header-img img{
  width: 133px;
  height: 49px;
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: 0.3s;
  display: flex;
  padding: 0 140px;
}
.openMenuBtn{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
    width: 38px;
  height: 40px;
  margin: 10px auto;
  background:transparent;
  opacity: 0.5;
  display: none;
}

.openMenuBtn div {
  width: 100%;
  height: 4px;
  width: 28px;
  background: white;
  margin: 6px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.openMenuBtn.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

.openMenuBtn.on .two {
  opacity: 0;
}

.openMenuBtn.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -300px; /* Start off-screen */
    width: 300px;
    height: 100%;
    background-color: #090000;
    padding: 20px;
    color: #fff;
    transition: left 0.3s;
    z-index: 9999; /* Ensure it's above the overlay */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.side-flex {
  margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.side-menu.active {
    left: 0 !important;
}
.side-menu img{width: 150px;}
.side-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    font-family: 'Quicksand';
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Place it above the content */
}
.close-menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color:#535111 ;
    padding: 5px 10px;
    border-radius: 50%;
}
.section1{
  background-image: url(../images/back-section1.png);
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  height: 117vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mySlides {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-40%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 40%;
}
.img-hide{width: 40%;}
.section1 h1{
  opacity: 0.9;
  color: #FFF;
  font-family: 'Zen Dots';
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 0px;
  margin-top: -80px;
}
.section1 p{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
  padding-bottom: 13px;
}
.section1 h1 span{
  color: #F5EE31;
}
.flex-section1-btns{
  gap: 30px;
  justify-content: center;
}
.btn-border{
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 3px solid #F5EE31;
  background: rgba(39, 39, 39, 0.50);
  box-shadow: 0px 0px 24px 0px rgba(245, 238, 49, 0.75);
  backdrop-filter: blur(7.5px);
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
    position: relative; 
  transition: 0.8s;
  overflow: hidden; 
}
.btn-border::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0.7;
  transition: top 0.8s ease;
}
.btn-border span{
  color: #FFF;
  transition:all 0.8s ease;
  z-index:2;
  position:relative;
}
.btn-border:hover::before {
  top: 0%; 
  color: #fff;
}
.btn-border:hover{
    color: #fff;
}
.btn-border:hover{
  border-radius: 4px;
  border: 3px solid #F5EE31;
  background: rgba(245, 238, 49, 0.65);
  box-shadow: 0px 0px 24px 0px rgba(245, 238, 49, 0.75);
  backdrop-filter: blur(7.5px);
}
.btn-yellow {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px;
  border: 3px solid #F5EE31;
  background: rgba(245, 238, 49, 0.65);
  box-shadow: 0px 0px 24px 0px rgba(245, 238, 49, 0.75);
  backdrop-filter: blur(7.5px);
  position: relative; 
  transition: 0.8s;
  overflow: hidden; 
}
.btn-yellow::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  opacity: 0.7;
  transition: top 0.8s ease;
}
.btn-yellow span{
  color: #FFF;
  transition:all 0.8s ease;
  z-index:2;
  position:relative;
}
.btn-yellow:hover::before {
  top: 100%; 
  color: #fff;
}
.btn-yellow:hover{
    color: #fff;
}
.btn-yellow:hover{
  border-radius: 4px;
  border: 3px solid #F5EE31;
  background: rgba(39, 39, 39, 0.50);
  box-shadow: 0px 0px 24px 0px rgba(245, 238, 49, 0.75);
  backdrop-filter: blur(7.5px);
}
/* Section 2 */
.section2{
  background-image: url(../images/section3-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #090000;
  background-attachment: fixed;
  padding-top: 132px;
  padding-bottom:129px ;
  position: relative;
}
.back-games{
  position: absolute;
  bottom: -60px;
}
.section2 .container-section2{
  width: 1288.55px;
  margin: auto;
}
.section2 .section2-text h1{
  color: #FFF;
  font-family: 'Zen Dots';
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0.9;
}
.section2 .section2-text h1 span{color: #F5EE31;}
.section2 .section2-text h4{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 40px;
  font-weight: 700;
  opacity: 0.9;
}
.section2 .section2-text h4 span{color: #F5EE31;}
.section2 .section2-text p{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; 
  padding-bottom: 60px;
  margin-bottom: 36px;
}
.section2 .section2-text button{height: 53px;}
.section3{
  background-image: url(../images/section3-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 92vh;
}
.section3 .container-section3{
  padding:125px 0px 50px 0px;
  text-align: center;
  width: 1288.55px;
  margin: auto;
}
.section3 h1{
  color: #FFF;
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 12px;
  opacity: 0.9;
}
.section3 h4{
  color: #F3EC30;
  font-family: 'Quicksand';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 93px;
}
.section3 .box-section3{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.section3 .box-section3 p{
  color: #F4F4F4;
  font-family: 'Quicksand';
  font-size: 18px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: -20px;
}
/* Section 4  */
.section4{
  background-image: url(../images/section3-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #090000;
  background-attachment: fixed;
  padding:40px 0px 150px 0px;
  width: 1288.55px;
  margin: auto;
}
.section4 h1{
  margin-bottom: 134px;
}
.section4 .flex-section4{
  gap: 60px;
  align-items: center;
}
.section4 .section4-img {
  display: flex;
  align-items: center;
}
.section4 .section4-img img{
  width: 240px;
  height: 318px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}
.section4 .section4-img .active{
  transform: scale(1.2);
  z-index: 99;
  position: relative;
}
.section4 .section4-text h3{
  color: #F5EE31;
  font-family: 'Quicksand';
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section4 .section4-text p{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.section4-btn{
  margin-top: 3rem;
  margin-left: auto;
  justify-content: end;
  display: flex;
  align-items: center;
  gap: 156px;
  cursor: pointer;
}
/* Section 5 */
.section5{
  background-image: url(../images/section3-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #090000;
  background-attachment: fixed;
}
.section5 .container-section5{ 
  padding: 126px 0px 126px 0px;
  width: 1288.55px;
  margin: auto;
  }
.section5 .card-section5{
  border-radius: 10px;
  border: 5px solid #F5EE31;
  background: #0F0909;
  box-shadow: 0px 0px 10px 0px #00ADD8;
  width: 370px;
  height: 372px;
  padding: 63px 29px 63px 29px;
}
.section5 .card-section5 img{
  width: 96px;
  height: 93px;
  margin: auto;
  display: block;
  margin-bottom: 24px;
}
.section5 .card-section5 h4{
  color: #FFF;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: 600;
}
.section5 .card-section5 p{
  color: #CFCFCF;
  text-align: center;
  font-family: 'Quicksand';
  font-weight: 500;
  line-height: 26px; 
}
.section5 .logo-middle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 57px;
  margin-bottom: 43px;
  width: 370px;
}
.section5 .logo-middle h1{
  color: #FFF;
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.row{position: relative;}
.card-top{
    position: absolute;
    top: 123px;
}
.card-bottom{
    position: absolute;
    bottom: 80px;
}
/* Section 6 */
.section6{
  padding-top: 125px;
  padding-bottom: 116px;
  background-image: url(../images/section3-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #090000;

}

.arrow {
    animation: moveArrow 1s linear infinite;
}

@keyframes moveArrow {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100% - 100px)); /* Adjust to your arrow image width */
    }
}
.section6 h1{margin-bottom: 37px;}
.section6 .p-one{
  color: #FFF;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 36px;
}
.section6 .p-one span{ color: #F5EE31;}
.section6 .p-two{
color: #FFF;
text-align: center;
font-family: 'Quicksand';
font-size: 18px;
font-weight: 600;
line-height: 30px; 
opacity: 0.9;
margin-bottom: 85px;
}
.section6 .flex-section6{gap: 50px;}

/* Section7 */
.section7{
  padding-top: 79px;
  padding-bottom: 70px;
  background-color: #090000;
  background-attachment: fixed;
  border-top: 2px solid #F5EE31;

}
.section7 h1{
  margin-bottom: 15px;
}
.section7 p{
color: #FFF;
font-family: 'Quicksand';
font-size: 18px;
font-weight: 600;
line-height: 28px;
text-align: center;
width: 42%;
    margin: auto;
}
.section7 p span{color: #F5EE31;font-size: 28px;}
.section7 .flex-section7{gap: 121px;}
.section7 .flex-section7 img{
  width: 207px;
  height: 208px;
}
/* Footer */
footer{
   border-top: 2px solid #F5EE31;
}
.container-footer{
  padding:80px 0px 55px 0px;
  background: #090000;
  width: 1288.55px;
  margin: auto;
}
.footer-img .logo{
  width: 133px;
 height: 49px;
 margin-bottom: 30px;
}
.footer-img p{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 58px;
}
.footer-img span{
  color:  #F4F4F4;
  font-family: 'Quicksand';
  font-size: 14px;
  font-weight: 400;
}
.footer-img span b{color: #F5EE31;}
footer .flex-footer-img{
  gap: 10px;
}
footer .flex-footer-img img{
  width: 18px;
 height: 18px;
}
footer .flex-section1-btns{margin-bottom: 69px;justify-content: end;}
footer .images-contact{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.section-transfer{
  height: 895px;
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-image: url(../images/back-transfer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #090000;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.h1-title{
  color: #FFF;
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 50px;
  opacity: 0.9;
}
.p-title{
  margin-bottom: 34px;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.p-title span{color: #F5EE31;}
.copy-text {
	position: relative;
}
.flex-label button{
    background: transparent;
}
.copy-text label{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}
.copy-text textarea{
  padding: 35px 17px;
  width: 587px;
  height: 120px;
  border-radius: 10px;
  border: 5px solid #F5EE31;
  background: #060000;
  box-shadow: 0px 0px 10px 0px #00ADD8;
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
}
.copy-text button:before {
	content: "Copied";
	position: absolute;
	top: -25px;
	right: 0px;
	background: #8f8b10;
  color: #fff;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 12px;
   font-family: 'Quicksand';
	display: none;
}
.copy-text button:after {
	content: "";
	position: absolute;
	top: 0px;
	right: 10px;
	width: 10px;
	height: 10px;
	background: #8f8b10;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
	display: block;
}
.balance{margin-top: 49px;margin-bottom: 83px;}
.balance h3{
  color: #F5EE31;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 30px;
  font-weight: 600;
}
.balance h5{
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
}
.balance .divs-balance{margin-top:29px ;gap: 120px;}
.balance .div-text h6{
  color: #F5EE31;
  font-family: 'Quicksand';
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.balance .div-text span{
    color: #F5EE31;
  font-family: 'Quicksand';
  font-weight: 700;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  font-size: 28px;
}
.balance .flex-section1-btns button{
  width: 192px;
}
/* Tabs */
.tabs {
 
  margin: auto;
  border-radius: 20px;
}
ul#tabs-nav {
  list-style: none;
  display: flex;
  align-items: center;
}
ul#tabs-nav li {
  cursor: pointer;
  width: 50%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ul#tabs-nav li a{
color: #ABAAAA;
  text-align: center;
  font-family: 'Zen Dots';
  font-size: 30px;
  font-weight: 400;
  opacity: 0.9;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
border-bottom: 2px solid #F5EE31;
}
ul#tabs-nav li:hover a,
ul#tabs-nav li.active a{
color: #F5EE31;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
#tabs-content{margin-top: 57px;}
.tab-content{
 width: 80%;
  margin: auto;
}
.form-design{margin-bottom: 26px;}
.form-design label{
  opacity: 0.9;
  color: #FFF;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.form-design .input-design{
  border-radius: 10px;
  border: 5px solid #F5EE31;
  background: #060000 !important;
  box-shadow: 0px 0px 10px 0px #00ADD8;
  height: 78px;
  display: flex;
  align-items: center;
  color: #fff !important;
}
.form-design .textarea-design{
  border-radius: 10px;
  border: 5px solid #F5EE31;
  background: #060000 !important;
  box-shadow: 0px 0px 10px 0px #00ADD8;
  height: 120px;
  display: flex;
  align-items: center;
  color: #fff !important;
  padding: 35px 17px;
}
.form-design .box-input{
  border-radius: 10px;
  border: 5px solid #F5EE31;
  background: #060000;
  box-shadow: 0px 0px 10px 0px #00ADD8;
  height: 78px;
  display: flex;
  align-items: center;
  padding: 0 29px 0 5px;
}
.form-design .box-input img{transition: 0.4s;cursor: pointer;margin-left: 10px;}
.form-design .box-input img:hover{transform: scale(1.2);}
.form-design .box-input input{
  background: transparent;
  border: none;
  color: #fff;
}
#tab1 .flex-section1-btns{margin: 89px 0px;}
#tab2 .img-qr{
  margin-bottom: 57px;
  margin:0 auto 57px auto;
  display: block;
}
#tab2 .flex-section1-btns{margin: 57px 0px;}
#tab2 .copy-text input{
  width: 100%;
}
/* Modals */
.modal-wallet .modal-content{
  padding: 0px;
  border-radius: 20px;
  background: #0F0909;
}
.modal-wallet .modal-body{
  padding:66px 142px;
  border-radius: 20px;
  background: #0F0909;
}
.modal-wallet .modal-dialog{
  max-width: 870px;
}
.modal-wallet .flex-section1-btns{
  margin-top: 110px;
}
.a-home{
 margin-top: 2rem;
 margin-left: 2rem;
 display: none;
}
.btn-continue{margin: auto;width: 402px;display: block;text-align: center;}
.modal-tabs .modal-body{padding: 0px;}
.modal-tabs .modal-dialog {max-width:587px;}
@media (max-width:1500px){
  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6,
  .section7{
      width: 100%;
  }
  .section-transfer{height: 100%; padding:20px 24px 60px 24px;}
}
@media (max-width:1300px){

}

@media (max-width:1000px) {
  .openMenuBtn{display: block;}
.header{
  flex-direction: column;
    height: max-content;
    padding: 1rem 0px;
 }
  .header .ul-inks{display: none;}
   .section1 .flex-section1-btns{
    margin-bottom: 2rem;
   }
  .container-section1 h1{margin-top: 6rem;}
  .h1-head{font-size: 26px;}
 
 .section1 h1,.section2 .section2-text h1{font-size: 50px;}
 .section1 p{font-size: 16px;padding-bottom: 20px;}
  .section1{
      padding: 0 24px;
      height: 100vh;
  }
  .section2 .container-section2{padding: 0px;}
  .section2 .section2-text p{
    padding-bottom: 0px;
  }
  .back-games{
    width: 300px;
  }
.section2{padding: 5rem 24px;}
.section3{height: 100%;}
  .section3 h1{margin-top: 4rem;}
  .section3 h4{font-size: 20px;}
 .mySlides{
  top: 100px;
  left: 0%;
  width: 100%;
  transform: translate(0%,0%);
 }
  .header,
 .section1,
 .section2 .container-section2,
 .section3 .container-section3,
 .section5 .container-section5,
 .section4,
 .section6,
 .container-footer{
    width: 100%;
 }
 .section1,

 .section3 .container-section3,
 .section5 .container-section5,
 .section4{
  height: 100%;
  padding: 0px 24px;
 }
 
 .section5 .card-section5{width: 100%; height: max-content;padding: 33px 18px 33px 18px;}
  .section5 .card-section5 br{display: none;}
 .section4 .section4-img .image-slider{display: none;}
 .section4 .section4-img .active{
  display: block;
 }
 .section4{margin-bottom: 2rem;margin-top: 4rem;}
 .flex-section4{flex-direction: column;}
 .section4-text{text-align: center;}
 .section3 .box-section3{justify-content: center;align-items: center;margin-bottom: 20px;}
 .btn-yellow ,.btn-border{
    padding: 10px 20px;
    font-size: 16px;
    padding: 10px 15px;
    font-size: 12px;
  }
  
  .img-section2 img{width: 100%;margin-top: 3rem;}
  .section2 .section2-text h4{font-size: 16px;}
  .card-section5{
    margin-bottom: 30px;
  }
  .section4-btn{margin-top: 5rem;}
  .section5 .logo-middle{margin-top: 2rem;width: 100%;}
  .card-top,.card-bottom{position: relative;top: 0;bottom: 0px;}
  .section6 .p-one{font-size: 16px;}
  .section6 .flex-section6{gap: 30px;}
  .section7 {
    padding-top: 39px;
    padding-bottom: 30px;
    padding: 40px 24px;
  }
  .section7 p {margin-bottom: 2rem;width: 100%;}
  .section7 p br{display: none;}
  .flex-section7 img{display: none;}
  .section7 h1{line-height: 3rem;}
  .container-footer{
    padding: 24px;
  }
  footer .flex-section1-btns{margin-top: 2rem;justify-content: start;margin-bottom: 2rem;}
  footer .images-contact{justify-content: start;}
  .h1-title{font-size: 30px;}
  .p-title{font-size: 16px;}
  .copy-text textarea{width: 100%;}
  .balance .divs-balance{gap: 30px;}
  .modal-wallet .modal-body{padding:50px 24px;}
  .modal-wallet .flex-section1-btns{margin-top: 2rem;}
  .modal-wallet .h1-title{font-size: 25px;}
  .form-design .input-design{height: 55px;}
  .btn-continue{width: 100%;}
  ul#tabs-nav li a{font-size: 20px;}
  .form-design .box-input{height: 55px;padding: 0 9px 0 5px;}
  #tab2 .img-qr{width: 100px;}
  .a-home{display: inline-flex;}
  @keyframes moveArrow {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(50% - 50px)); /* Adjust to your arrow image width */
    }
}
}
@media (max-width:670px) {

}
@media (max-width:400px) {
}